<div class='perk-list'>
  <div class='perk'>
    <h2 class='perk-title'>Request for <%= @perk_request.perk.name %></h2>
    <div class='perk-content'>
      <% if @perk_request.receipt.attached? %>
        <%= image_tag @perk_request.receipt.variant(resize_to_limit: [100, 100]) %>
      <% end %>
      <p class='perk-amount'>The amount of the request is: $ <%= @perk_request.amount %> out of $ <%=  @perk_request.perk.amount %></p>
      <p class='perk-end'>Request sent <%= time_ago_in_words @perk_request.created_at %></p>
    </div>
  </div>
</div>
