<!DOCTYPE html>
<html>
  <head>
    <title>LeetoBackendTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <% if current_employee %>
        Signed in as <%= current_employee.full_name %>.
        <%= link_to "Sign out", signout_path %>
      <% else %>
        <%= link_to "Sign in", signin_path %>
      <% end %>
    </div>

    <div class='container'>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
